# Скопируй в .env и заполни (файл .env НЕ коммитить в GitHub!)
API_ID=21443932
API_HASH=сюда_свой_хэш
TG_SESSION=сюда_строку_из_make_session.py

# чей чат считаем
TARGET_PHONE=+380669543625
TARGET_NAME=
MY_NAME=Я

# поведение
SYNC_INTERVAL=60
ON_DEMAND_COOLDOWN=25
ALLOWED_ORIGINS=*
DB_PATH=stats.db
